.screen {
  margin-left: 5%;
  margin-right: 5%;
}

.panel {
  background-color: #f6f6f6;
  border: 1px solid #d5d5d5;
  padding: 8px;
}

.packingResultPanel {
  padding: 24px 48px;

  .packingResultMessage {
    text-align: center;
  }

  h2 {
    text-align: center;
  }
}

.successButtonWrapper {
  margin-top: 8px;
  text-align: right;
}
